#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  border: 1px solid ivory;
  /* flex: 0 0 80px; */
  background-color: ivory;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50%;
  height: 7vh;
}
.tag {
  border: 1px solid pink;
  background-color: pink;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50%;
  height: 3.5vh;
}
.tag-list > .tag {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 5px;
  color: #ffffff;
  background-color: #4db6ac;
  cursor: pointer;
}

.location {
  border: 1px solid pink;
  /* flex: 0 0 80px; */
  background-color: pink;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50%;
  height: 3.5vh;
}

.fun_toolbar {
  border: 1px solid skyblue;
  /* flex: 0 0 80px; */
  background-color: skyblue;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50%;
  height: 3.5vh;
}

.contents {
  border: 1px solid #fbfdfc;
  /* flex: 0 0 80px; */
  background-color: #fbfdfc;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50%;
  height: 50vh;
}

.footer {
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: #fbfdfc;
  width: 50%;
}

.exit {
  background-color: lightGray;
}

.temporary_save {
  background-color: lightGray;
  float: right;
  margin-left: 1rem;
}
.save {
  background-color: lightGray;
  float: right;
}
