#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  border: 1px solid pink;
  flex: 0 0 80px;
  background-color: pink;
}

.logo_btn {
  float: left;
  width: 8vw;
  height: 4.5vh;
  margin-left: 1rem;
  margin-top: 1rem;
}

.login_btn {
  float: right;
  width: 8vw;
  height: 4.5vh;
  margin-left: 1rem;
  margin-top: 1rem;
}
.search_btn {
  float: right;
  width: 8vw;
  height: 4.5vh;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  border: 1px solid ivory;
  flex: 0 0 700px;
  background-color: ivory;
}

.content {
  flex: 1 0 auto;
  margin-top: 2rem;
  margin-left: 2rem;
}

.userinfo {
  margin: 5px;
  padding: 5px;
  background-color: ivory;
}

/* .info_setting{

} */
.id {
  margin-top: 0.5rem;
  text-align: center;
}

.id_id {
  position: relative;
  right: 150px;
}

.password {
  margin-top: 1rem;
  text-align: center;
}

.pass_pass {
  position: relative;
  right: 150px;
}

.psdr {
  margin-top: 1rem;
  text-align: center;
}

.psdr_psdr {
  position: relative;
  right: 150px;
}

.name {
  margin-top: 1rem;
  text-align: center;
}

.name_name {
  position: relative;
  right: 150px;
}

.birth {
  margin-top: 1rem;
  text-align: center;
}

.birth_birth {
  position: relative;
  right: 150px;
}

.gender {
  margin-top: 1rem;
  text-align: center;
}

.gender_gender {
  position: relative;
  right: 150px;
}

.email {
  margin-top: 1rem;
  text-align: center;
}

.email_email {
  position: relative;
  right: 150px;
}

.phone {
  margin-top: 1rem;
  text-align: center;
}

.phone_phone {
  position: relative;
  right: 150px;
  margin-bottom: 15px;
}

.footer {
  background-color: pink;
}
.save_btn {
  float: right;
  width: 8vw;
  height: 4.5vh;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
