* {
  box-sizing: border-box;
}
#parent-container {
  display: grid;
  place-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  width: 800px;
  height: 400px;
}

#signupContainer {
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signupBtn {
  width: 90px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-top: 0.9rem;
}

#loginBtn {
  width: 100px;
  height: 100px;
}
.login {
  padding: 10px;

  display: flex;
  align-items: center;
}
.login_input {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.login input {
  width: 250px;
  height: 50px;
}
.oauth_singup_container {
  display: flex;
}
#socialLogin {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  border-right: 1px solid black;
}

#socialLogin > span {
  margin-bottom: 20px;
}

#userSignup {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userSignup > span {
  margin-bottom: 20px;
}
