.body {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue,
    Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "left center right"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 5px;
  height: 100vh;
  margin: 10px;
  background-color: aquamarine;
}

.nav {
  background: #707070;
  grid-area: nav;
  background-color: pink;
}

.nav_logo {
  width: 8vw;
  height: 4.5vh;
  background-color: whitesmoke;
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.nav_search {
  width: 8vw;
  height: 4.5vh;
  background-color: whitesmoke;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.nav_newcontent {
  width: 8vw;
  height: 4.5vh;
  background-color: whitesmoke;

  float: right;

  margin-right: 1rem;
  margin-top: 1rem;
}

.nav_toggle {
  width: 8vw;
  height: 4.5vh;
  background-color: whitesmoke;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.left {
  background: #c9bfbf;
  grid-area: left;
  border: 1px solid black;
}

.center {
  background: blanchedalmond;
  grid-area: center;
}

.profileimg {
  background-color: paleturquoise;
  width: 20vw;
  height: 40vh;
  position: relative;
  top: 20px;
  left: 20px;
}

.main_insertbtn {
  width: 8vw;
  height: 4.5vh;
  position: relative;
  top: 80px;
  right: 280px;
}

.main_deletebtn {
  width: 8vw;
  height: 4.5vh;
  position: relative;
  top: 80px;
  right: 260px;
}

.userinfo {
  text-align: center;
  position: relative;
  top: 100px;
}

.right {
  background: #c9c9c9;
  grid-area: right;
  border: 1px solid black;
}

footer {
  background: #707070;
  grid-area: footer;
  border: 1px solid black;
}

.nav,
.left,
.center,
.right,
.footer {
  padding: 5px;
}


