.container {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C4C4C4;
}

.navs {
  border: 1px solid darkmagenta ;
  min-height: 15vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: #D07D7D;
}

.nav-logo {
  width: 14vw;
  height: 8vh;
  background-color: #8BBB84;
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.nav-search {
  width: 14vw;
  height: 8vh;
  background-color: #8BBB84;
  margin-right: 1rem;
  float: right;
  margin-top: 1rem;
}

.nav-write {
  width: 14vw;
  height: 8vh;
  background-color: #8BBB84;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.nav-toggle {
    width: 14vw;
    height: 8vh;
    background-color: #8BBB84;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
  }

.headers {
  border: 1px solid darkmagenta ;
  min-height: 40vh;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  background-color: #6994BB;
}

.header-heart {
  width: 14vw;
  height: 8vh;
  background-color: #C2BB7C;
  float: left;
  margin-left: 3rem;
  margin-top: 5rem;
}

.header-write {
  width: 56vw;
  height: 35vh;
  background-color: #C2BB7C;
  float: left;
  position:relative;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.mains {
  display: block;
  border: 1px solid darkmagenta ;
  max-width: 82vh;
  min-height: 50vh;
  margin-top: 5%;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  background-color: #6E88A0;
}

.comment {
  /* clear: both;
  float: left; */

  min-height: 15vh;
  min-width: 65vh;
  background-color: #C4C4C4;
  margin-right: 2%;
  margin-top: 2%;
  margin-left: 2%;
  border: 1px solid blue;
}

.comment-btn {
  min-height: 5vh;
  margin-left: 2%;
  background-color: #964545;

}

.commentlist {
  background-color: #C4C4C4;
  margin-right: 2%;
  margin-top: 2%;
  margin-left: 2%;
  border: 1px solid blue;
}
