* {
  font-family: sans-serif;
  box-sizing: border-box;

}

#headers {
  width: 100%;
  height: 100%;
  min-width: 300px;
  padding: 0 24px;
  position: relative;
  background: #24272b;
  z-index: 1001;
  display: table;
  table-layout: fixed;
} 

.header-menu {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 2%;
}
#logo {
  float: left;
  color: white;
  border: 1px solid white;
  border-right: 1rem solid white;
  margin-right: 20px;
  margin-top: 1%;
  font-size: 0.5rem;
  padding: 1%;
  text-decoration: none;
}
#home {
  float: left;
  text-decoration: none;
  display: inline-flex;
  height: 100%;
  padding: 2%;
  color: white;
  font-size: 0.5rem;
}
#login {
  float: right;
  padding: 2%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 2%;
  color: white;
  font-size: 0.5rem;
}

#home:hover {
  color: #5c7cfa;
  background: white;
}
#login:hover {
  color: #5c7cfa;
  background: white;
}

#loginStatus {
  top: 5px;
}