
.icon-heart:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */